body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: #09607a; /* Colore sfondo */
  color: #f2f2f2; /* Colore del testo */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Altezza del contenitore per centrare il contenuto */
}

h2 {
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  font-size: 28px; /* Dimensione pi첫 grande per la prima scritta */
}

p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px; /* Dimensione pi첫 piccola per la seconda scritta */
  font-weight: bold;
}

p.temporary {
  margin-top: 150px;
  padding: 10px;
  text-align: center;
  font-size: 16px; /* Dimensione pi첫 piccola per la seconda scritta */
  font-weight: bold;
}

p.temporary2 {
  margin-top: 0;
  padding: 0;
  text-align: center;
  font-size: 16px; /* Dimensione pi첫 piccola per la seconda scritta */
  font-weight: bold;
}

a {
  color: #041c35; /* Colore del link */
  text-decoration: none; /* Rimuovi la sottolineatura del link */
}

footer {
    position: fixed;
    bottom: 3vw;
    right: 7vw;
    background-color: #09607a;
    padding: 5px;
}

small {
  font-size: 14px;
}

/* Regola per posizionare a un terzo della pagina verticalmente */
.container {
  justify-content: flex-start; /* Allinea in alto */
}
